* {
  margin: 0;
  padding: 0;
}

.app {
  margin: 0px 5%;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #999;
  text-align: left;
  padding: 8px;
}
th {
  border: 1px solid #999;
  text-align: left;
  padding: 8px;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.myrow {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.row-item {
  margin: 0px 10px;
}
